<!-- HPONCFG VERSION = "2.0" -->
<RIBCL VERSION="2.0">
  <LOGIN USER_LOGIN="{{ ilo_interface_user }}" PASSWORD="{{ ilo_interface_password }}">
    <SERVER_INFO MODE="write">
      <SERVER_AUTO_PWR VALUE="Random"/>
    </SERVER_INFO>
  </LOGIN>
</RIBCL>
